body {
  margin: 0;
  background-color: black;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 20px;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  text-align: center;
  padding-bottom: 10px;
}
h1 {
  font-size: 100px;
  text-align: center;
  font-weight: 100;
}
h2 {
  font-size: 35px;
  font-weight: 100;
}
table {
  border-spacing: 5px;
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: left;
  border-top: none;
}
tr {
  border-top: 1px solid white;
}
td {
  padding-top: 10px;
  padding-bottom: 10px;
}
#table-head {
  border-top: none;
}
.guest-act {
  font-size: 15px;
}
.media-bar {
  animation-name: buttons-fade;
  animation-duration: 11s;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}
.media-bar .site-nav {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
}
.media-bar .site-nav span:hover {
  cursor: pointer;
}
.media-bar .social-media {
  display: flex;
  justify-content: flex-end;
}
.media-bar .social-media .facebook {
  border: 1px solid #3b5998;
  border-radius: 3px;
  background-color: #3b5998;
  padding-left: 12px;
  padding-right: 4px;
  padding-top: 2px;
}
.media-bar .social-media .twitter {
  color: #00b6f1;
}
.media-bar .social-media .soundcloud {
  color: #ff5500;
}
.media-bar .social-media .spotify {
  color: #6AE368;
  padding-right: 12px;
}
.media-bar span {
  margin-left: 14px;
  margin-right: 14px;
}
.dropdown-container {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  position: absolute;
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  cursor: hover;
  display: block;
}
.dropdown-menu:hover .dropdown-content {
  display: block;
}
.dropdown-menu:hover .dropdown-menu {
  cursor: pointer;
}
small-media-bar {
  z-index: 0;
}
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: transparent;
  color: red;
}
#navBar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.list-title {
  text-align: center;
}
/*Landing Page*/
.main-title {
  animation-name: title-fade;
  animation-duration: 11s;
}
.main-title-alternate {
  color: transparent;
}
.templateContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#buttons-row {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  animation-name: buttons-fade;
  animation-duration: 13s;
}
#buttons-row .button {
  text-align: center;
}
#buttons-row .button :hover {
  cursor: pointer;
}
.bottom-row {
  z-index: 100;
  color: red;
}
/*Performances and Propaganda Pages */
.list-container {
  margin-top: 10px;
  width: 75%;
  background-color: rgba(0, 0, 0, 0);
  flex: 1;
  padding: 5%;
  border-radius: 4px;
}
/*video box */
/*Formats the title screen background video effect*/
#video-large {
  position: absolute;
  object-fit: fill;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}
#video-small {
  position: absolute;
}
#video-box {
  width: 100vw;
  height: 100vh;
}
#video-cover {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}
#text-cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}

@media
only screen and (max-width: 640px) {

body {
  font-size: 15px;
}
.list-container {
  width: 90%;
}
.guest-act {
  font-size: 10px;
}

}